---
interface Props {
	lockedHeight?: boolean;
	oceanClass?: string;
	wavesClass?: string;
}

const { lockedHeight, oceanClass, wavesClass } = Astro.props;
---

{
	/* i don't want to use h-dvh on ios because it causes stutters but the in-app browser doesn't respect h-lvh? */
}
<div
	id="waves-container"
	style="will-change: transform, filter;"
	class:list={["fixed left-0 top-0 -z-50 h-dvh w-full", wavesClass]}
>
</div>

<section
	id="ocean-component"
	style="will-change: transform, filter;"
	class:list={[
		lockedHeight ? "h-screen" : "h-[265rem]",
		"relative w-screen max-w-full overflow-y-auto overflow-x-hidden",
		oceanClass,
	]}
	data-locked-height={lockedHeight}
>
	<slot />
	<div id="fish-container"></div>
</section>

<button
	id="settings-toggle"
	class="fixed bottom-5 right-5 z-10 text-lg text-monochromeLogan transition-colors hover:text-moonlightWhite"
>
	settings
</button>
<div
	id="settings-content"
	class="fixed bottom-16 right-5 z-10 hidden w-64 space-y-2 rounded-lg border bg-moonlightBase p-3"
>
	<h1 class="pb-1">ocean settings</h1>
	<div class="flex items-center justify-between gap-3">
		<input
			type="number"
			class="setting w-12 rounded bg-moonlightBase [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
			name="spawn rate"
			autocomplete="off"
			value="1000"
		/>
		<label for="spawn rate">Spawn rate (ms)</label>
	</div>
	<div class="flex items-center justify-between gap-3">
		<input
			type="checkbox"
			class="setting"
			name="ltr only"
			autocomplete="off"
		/>
		<label for="ltr only">LTR only</label>
	</div>
	<div class="flex items-center justify-between gap-3">
		<input
			type="checkbox"
			class="setting"
			name="variable speed"
			autocomplete="off"
			checked
		/>
		<label for="variable speed">Variable speed</label>
	</div>
	<div class="flex items-center justify-between gap-3">
		<input
			type="checkbox"
			class="setting"
			name="crash browser"
			autocomplete="off"
		/>
		<label for="crash browser" class="text-red-400"> Crash browser </label>
	</div>
</div>
