---
import Layout from "../layouts/Layout.astro";
---

<Layout title="404">
	<main class="mt-20 flex w-full items-center justify-center font-mono">
		<div class="space-y-2">
			<h1 class="bg-moonlightPink text-5xl text-moonlightBase">
				&gt;404
			</h1>
			<h1 class="text-xl text-moonlightText">this page doesn't exist!</h1>
		</div>
	</main>
</Layout>
