---
import Layout from "../layouts/Layout.astro";
import Ocean from "../components/Ocean.astro";
---

<Layout title="skeary's ocean">
	<Ocean />
	<main
		class="flex h-[calc(100vh-73px)] w-full items-center justify-center font-mono"
	>
		<div
			class="appear flex w-full translate-y-20 items-center justify-between border-y p-8 opacity-0 backdrop-blur-md md:w-[32rem] md:rounded-xl md:border"
		>
			<div class="flex flex-col justify-start gap-[2px]">
				<h1 class="whitespace-nowrap text-xl">hi i'm skeary</h1>
				<h1 id="time" class="text-moonlightStone"></h1>
			</div>
			<img class="h-[125px] w-[125px]" src="/cat.svg" alt="cat" />
		</div>
	</main>
</Layout>

<style>
	.appear {
		animation: appear-bottom 1.4s cubic-bezier(0.45, 0.02, 0.09, 0.98) 0.3s
			forwards;
	}

	@keyframes appear-bottom {
		100% {
			transform: translateY(0%);
			opacity: 100%;
		}
	}
</style>

<script>
	document.getElementById("time")!.textContent =
		new Date().toLocaleString("en-US", {
			timeZone: "America/New_York",
			hour: "numeric",
			minute: "numeric",
			hour12: true,
		}) + " EDT";
</script>
