---
import Layout from "../layouts/Layout.astro";
import Canvas from "../components/Canvas.astro";
---

<Layout title="><>">
	<Canvas />

	<div
		class="fixed left-0 top-0 flex h-full w-full items-center justify-center"
	>
		<div class="flex gap-4 rounded-xl p-4 font-semibold">
			<h1 class="whitespace-nowrap text-3xl">hi i'm skeary</h1>
			<img src="/cat.svg" alt="cat" />
		</div>
	</div>
</Layout>
