<>
	<div id="fishContainer" class="fixed h-screen w-screen overflow-hidden">
	</div>
	<button
		id="settingsToggle"
		class="text-accent absolute bottom-5 right-5 z-50 text-lg opacity-50 transition-opacity hover:opacity-100"
	>
		settings
	</button>
	<div
		id="settingsContent"
		class="absolute bottom-16 right-5 z-50 hidden w-64 space-y-2 rounded-lg border p-3 backdrop-blur-md"
	>
		<div class="flex items-center justify-between gap-3">
			<input
				type="number"
				class="setting w-12 rounded bg-moonlightBase
                [appearance:textfield] [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none"
				name="spawn rate"
				autocomplete="off"
				value="1000"
			/>
			<label for="spawn rate">Spawn rate (ms)</label>
		</div>
		<div class="flex items-center justify-between gap-3">
			<input
				type="checkbox"
				class="setting"
				name="ltr only"
				autocomplete="off"
			/>
			<label for="ltr only">LTR only</label>
		</div>
		<div class="flex items-center justify-between gap-3">
			<input
				type="checkbox"
				class="setting"
				name="variable speed"
				autocomplete="off"
				checked
			/>
			<label for="variable speed">Variable speed</label>
		</div>
		<div class="flex items-center justify-between gap-3">
			<input
				type="checkbox"
				class="setting"
				name="crash browser"
				autocomplete="off"
			/>
			<label for="crash browser" class="text-red-400">
				Crash browser
			</label>
		</div>
	</div>
</>

<script>
	const colors = {
		white: "#FFFFFF",
		blue: "#497EE9",
		cyan: "#5CD8E6",
		pink: "#D56CC3",
	};

	const settingsToggle = document.getElementById("settingsToggle")!;
	const settingsContent = document.getElementById("settingsContent")!;
	const settings = document.querySelectorAll("input.setting")!;
	const fish = document.getElementById("fishContainer")!;

	let lastTime = performance.now();
	let interval = performance.now();
	let fishSpawned = 0;

	let spawnTime = 1000;
	let disableRtl = false;
	let variableSpeed = true;
	let crashBrowserProbably = false;

	settingsToggle.addEventListener("click", () => {
		settingsContent.classList.toggle("hidden");
	});

	(settings as NodeListOf<HTMLInputElement>).forEach((setting) => {
		setting.addEventListener("change", () => {
			const name = setting.getAttribute("name")!;

			switch (name) {
				case "spawn rate":
					spawnTime = parseInt(setting.value);
					break;
				case "ltr only":
					disableRtl = Boolean(setting.checked);
					break;
				case "variable speed":
					variableSpeed = Boolean(setting.checked);
					break;
				case "crash browser":
					crashBrowserProbably = Boolean(setting.checked);
					break;
			}
		});
	});

	requestAnimationFrame(animate);

	function spawnFish() {
		const span = document.createElement("span");

		const random = Math.random();
		let ltr = disableRtl ? true : Math.random() < 0.5;

		if (random < 0.7) {
			span.textContent = ltr ? "><>" : "<><";
			span.style.color =
				fishSpawned % 10 == 0 ? colors.pink : colors.white;

			fishSpawned += 1;
		} else if (random < 0.85) {
			span.textContent = "~";
			span.style.color = colors.blue;
			ltr = true;
		} else {
			span.textContent = "ᵒ";
			span.style.color = colors.cyan;
			ltr = true;
		}

		Object.assign(span.style, {
			position: "absolute",
			whiteSpace: "nowrap",
			top: `${randomIntFromInterval(1, 100)}%`,
			fontSize: `${randomIntFromInterval(12, 36)}px`,
			opacity: "0",
			[ltr ? "left" : "right"]: "0px",
		});

		span.dataset.ltr = `${ltr}`;
		span.dataset.variableSpeed = `${Math.random()}`;
		span.classList.add("fish");
		fish.appendChild(span);

		interval = performance.now();
	}

	function animate(time: number) {
		if ((time - interval) / spawnTime > 1) {
			spawnFish();
		}

		if (crashBrowserProbably) {
			for (let i = 0; i < 1000; i++) {
				spawnFish();
			}
		}

		const elapsed = time - lastTime;

		for (let i = 0; i < fish.children.length; i++) {
			const currentFish = fish.children[i] as HTMLSpanElement;
			const direction =
				currentFish.dataset.ltr === "true" ? "left" : "right";
			const speed = variableSpeed
				? Number(currentFish.dataset.variableSpeed!)
				: 1;

			let newPos =
				parseFloat(currentFish.style[direction].slice(0, -2)) + 0.1;
			let newOpacity =
				parseFloat(currentFish.style.opacity) +
				elapsed / window.innerWidth;

			if (newPos <= window.innerWidth) {
				currentFish.style[direction] =
					`${newPos + (elapsed / 10) * speed}px`;
			} else {
				currentFish.remove();
			}

			if (newOpacity <= 100) {
				currentFish.style.opacity = `${newOpacity}`;
			}
		}

		lastTime = time;
		requestAnimationFrame(animate);
	}

	function randomIntFromInterval(min: number, max: number) {
		return Math.floor(Math.random() * (max - min + 1) + min);
	}
</script>
