---
import type { CollectionEntry } from "astro:content";
import Layout from "./Layout.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, date, description, image } = Astro.props;

const og = {
	title,
	type: "article",
	url: Astro.url.href,
	...(description ? { description } : {}),
	...(image ? { image } : {}),
};
---

<Layout {title} {og}>
	<section class="mx-auto w-full max-w-[42rem] space-y-10 p-4 py-10">
		<div class="space-y-1">
			<h1 class="text-3xl">{title}</h1>
			<h2 class="text-moonlightText">
				{
					date.toLocaleDateString("en-us", {
						year: "numeric",
						month: "numeric",
						day: "numeric",
					})
				}
			</h2>
		</div>
		<hr />
		<main class="prose prose-invert">
			<slot />
		</main>
		<hr />
		<form method="POST" autocomplete="off" class="relative mt-10 space-y-2">
			{
				Astro.url.searchParams.get("submitted") && (
					<h1 class="absolute -right-4 top-2 rotate-12 bg-moonlightPink p-1 text-lg text-moonlightBase">
						message sent!
					</h1>
				)
			}
			<h1 class="font-semibold">
				have a question/comment? want to say hi?
			</h1>
			<input
				class="w-full rounded-md border bg-transparent p-3"
				type="text"
				name="contact"
				placeholder="way to contact you back (optional)"
			/>
			<textarea
				class="w-full rounded-md border bg-transparent p-3"
				name="message"
				placeholder="your message"
				required></textarea>
			<button class="w-full rounded-md bg-white p-3 text-moonlightBase">
				send !
			</button>
			<h1 class="text-right text-sm text-moonlightStone">
				you can also just contact me on discord, @<code>squisket</code>
			</h1>
		</form>
	</section>
</Layout>

<style is:global>
	main img,
	main video,
	main canvas {
		border-radius: 0.375rem;
	}

	pre .line.highlighted {
		background-color: rgba(101, 117, 133, 0.16);
		margin: 0 -16px;
		padding: 0 16px;
		width: calc(100% + 32px);
		display: inline-block;
	}

	pre .line.diff {
		margin: 0 -16px;
		padding: 0 16px;
		width: calc(100% + 32px);
		display: inline-block;
	}

	pre .line.diff.remove {
		background-color: rgba(227, 109, 109, 0.05);
		opacity: 0.7;
	}

	pre .line.diff.remove::before {
		content: "- ";
		color: rgba(227, 109, 109, 1);
	}

	pre .line.diff.add {
		background-color: rgba(97, 214, 126, 0.05);
	}

	pre .line.diff.add::before {
		content: "+ ";
		color: rgba(97, 214, 126, 1);
	}

	pre.has-focused .line:not(.focused) {
		opacity: 0.7;
		transition:
			filter 0.35s,
			opacity 0.35s;
	}

	pre.has-focused .line:not(.focused) {
		filter: blur(0.095rem);
		opacity: 0.4;
		transition:
			filter 0.35s,
			opacity 0.35s;
	}

	pre:hover.has-focused .line:not(.focused) {
		filter: blur(0);
		opacity: 1;
	}
</style>
