---
import "@fontsource-variable/jetbrains-mono";
import "@fontsource-variable/inter";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/cat.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header
			class="bg-moonlightInterface sticky top-0 z-10 flex w-full items-center justify-center border-b"
		>
			<nav class="flex w-[42rem] items-center justify-between p-4">
				<a href="/">
					<img
						class="h-10 w-10 [transform:scaleX(-1)]"
						src="/cat.svg"
						alt="cat"
					/>
				</a>
				<div class="flex gap-4 underline">
					<a class="text-moonlightStone" href="/about">/about</a>
					<a class="text-moonlightStone" href="/recommendations">
						/cool things
					</a>
				</div>
			</nav>
		</header>
		<slot />
	</body>
</html>

<style is:global>
	html {
		font-variant-ligatures: none;
		@apply bg-moonlightBase text-moonlightWhite;
	}
	* {
		@apply border-moonlightWhite/10;
	}
</style>
